@import url(reset.css);

:root{
    --cor-principal:#000000;
    --fonte--principal:  'Krona One', sans-serif;
    --cor--detalhe: #22D4FD;
    --html:#FF3D00;
    --css:#00D1FF;
    --python:#00FFF0;
    --java:#FF0000;
    --java--script:#EBFF00;
    --sql:#076AFF;
    --angular:#FF0000;
    --spring:#05FF00;
}

body{
    height: 100%;
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: white;
    font-family: var(--fonte--principal);
    
}
/* **MENU** */
.menu{
    padding: 2% 0% 0% 20% ;
}
.menu__menu{
    display: flex;
    gap: 50px;
}
.menu__link{
    color: aqua;
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
    text-decoration: none;
   
}
/* **MENU** */

.destaque{
    color: aqua;
}

.center{
    padding: 3% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem{display: flex;
align-self: flex-start;
width: 90%;
}

 .minha__imagem{
    width:100%;
    align-self: flex-start ;
    margin-left: auto;
}

.center__conteudo{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px ;
}

.center__conteudo__titulo{
    font-size:  2.25rem;
    font-family: 'Krona One', sans-serif;
}

.center__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(228, 228, 228);
}

.center__link{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px   ;
    
}

.center__link__link{
    display: flex;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding:20px;
    text-align: center;
    width: 50%;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border-radius: 14px;
    font-family: 'Montserrat', sans-serif'Montserrat', sans-serif ;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid aqua;
    
}

.center__link__link:hover{
    background-color: #272727 ;
    padding: 30px;
    width: 70%;
}

.center__link__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
}
/* **FOOTER** */
.rodape{
    margin-top: 10%;
    background-color: aqua;
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif'Montserrat', sans-serif;
    color: #272727;
    font-size: 0.8rem;
}

/* **PAGINA CURRICULO INNFORMAÇÕES** */

.info__titulo{
    margin-top: 2em;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.info__center{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.info__center__center{
    display: flex;
    align-items: center;
    gap: 2em;
   
}

.info__titulo{
    font-family: var(--fonte--principal);
    font-size: 40px;
}

.info__titulo__strong{
    color: var(--cor--detalhe);
}

.info__texto{
    font-family: var(--fonte--principal);
    font-size: 24px;
}

/* **PAGINA CURRICULO INNFORMAÇÕES** */


/* **FORMAÇÕES** */
.form{
   margin: 5em 4em;
}

.form__topo{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: 5em;
}

.form__titulo{
    font-family: var(--fonte--principal);
    font-size: 40px;
}

.form__center{
    display: flex;
    flex-direction: column;
    gap: 3em;
    
}

.form__center__center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.form__info{
    display: flex;
    gap: 10em;
    padding: 2em 5em;
    justify-content: space-between;
}

.form__info__titulo{
    font-size: 32px;
}

.form__info__texto{
    font-size: 24px;
}

.form__info__strong{
    color: var(--cor--detalhe);
}
/* **FORMAÇÕES** */

/* **CURSOS** */

.curso__topo{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 10em;
    gap: 1em    ;
}

.curso__topo__titulo{
    font-size: 40px;
}

.curso__topo__strong{
    color: var(--cor--detalhe);
}

 

.imagem__curso{
    width: 70px;
}

.curso__titulo{
    font-size: 40px;
}

.curso__titulo__strong{
    color: var(--cor--detalhe);
}

.topicos{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    align-items: center;
    gap: 2em;
}

.topicos__curso{
    display: flex;
    gap: 2em;
    align-items: center;
}

.topicos__link{
    padding: 1em;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid var(--cor--detalhe);
}

.topicos__link:hover{
    background-color: var(--cor--detalhe);
    color: #000000;
}


/* **LINGUAGENS** */

.lenguage{
    display: flex;
    gap: 1em;
    align-items: center ;
    justify-content: space-around;
    padding: 5em 8em;

   
}

.leguage__div__imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    
}

.leguage__div__3{
    display: flex;
    gap: 3em;
}

.leguage__div__4{
    display: flex;
    gap: 3em;
}


.leguage__imagem{
    width: 100px;
    height: 100px;
   padding: 2em;
   border: 2px solid var(--cor--detalhe);
}

.leguage__imagem:hover{
    background: #22D4FD;
}

.leguage__titulo{
    font-size: 40px;
}

.html{
    border: 2px solid var(--html);
}

.html:hover{
    background-color: var(--java);
}

.css{
    border: 2px solid var(--css);
}

.css:hover{
 background-color: var(--css);
}

.python{
    border: 2px solid var(--python);
}

.python:hover{
 background-color: var(--python);
}

.java{
    border: 2px solid var(--java);
}

.java:hover{
 background-color: var(--html);
}
.java__script{
    border: 2px solid var(--java--script);
}

.java__script:hover{
 background-color: var(--java--script);
}

.sql{
    border: 2px solid var(--sql);
}

.sql:hover{
    background-color: var(--sql);
}

.lenguage__frame{
    display: flex;
    gap: 1em;
    align-items: center ;
    justify-content: space-around;
    padding: 3em 15em 5em 8em;
}


.leguage__div__imagem__frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}

.leguage__titulo__frame{
    text-align: center;
}

.leguage__div__3__frame{
    display: flex;
    gap: 3em;
}

.angular{
    border: 2px solid var(--angular);
}

.angular:hover{
    background-color:var(--angular);
}

.spring{
    border: 2px solid var(--spring);
}

.spring:hover{
    background-color:var(--spring);
}





































/* RESPONSIVE */
@media  (max-width:1200px) {
.center {flex-direction: column-reverse;
        padding: 3% 10%; 
}
.center__conteudo{
    width: auto;
    
}
.menu{
    padding: 2% 0% 0% 0% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__menu{
    text-align: center;   
}
.minha__imagem{
    width: 80%;
    text-align: center;
    margin: 0;
    
}
.imagem{
 justify-content: center;
 
    }





}